{% extends "layout.html" %}

{% block pagestyles %}
    <link href="{{ url_for('static', filename='dist/css/account.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <div class="formwrapper">
    <form method=post>
      <div class="logo">
        <img src="{{ url_for('static', filename='dist/img/logo.png') }}">
      </div>
      {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
      {% endfor %}
        <div class="purchase">
            {{ form.items_amount.label }}
            {{ form.items_amount }}
            {% if form.items_amount.errors %}
              <ul class="errors">
                {% for error in form.items_amount.errors %}<li>{{ error }}</li>{% endfor %}
              </ul>
            {% endif %}
        </div>
        <div class="submitbutton">
        <input id="submit" type="submit" value="Submit">
      </div>
    </form>
  </div>
{% endblock %}
